@page
@model RegisterModel
<!--page is a directive that specifies the URL at which this Razor Page can be accessed. In this case, it indicates that this Razor Page is accessed at the default URL path for the "Register" page.-->


<h1>@ViewData["Title"]</h1>

            <div class="col-md-12">
                <section>
                    <p class="divider-text d-flex pt-3">or</p>
                    <h3>Use another service to register.</h3>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                                        <div>
                                            <p>
                                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                    article
                                                    about setting up this ASP.NET application to support logging in via external services
                                                </a>.
                                            </p>
                                        </div>
                        }
                        else
                        {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                        {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                                </p>
                                            </div>
                                        </form>
                        }
                    }
                </section>
            </div>
        </div>

    </div>
</div>

